.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #fafafa;
  padding: 32px;
  border-right: 1px solid #eaeaea;
}

.user {
  display: flex;
  margin-bottom: 24px;

  img {
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-width: 48px;
  }

  .userInfo {
    margin-left: 10px;
    .userName {
      color: var(--primary-color);
    }

    .userEmail {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.navBody {
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0 12px;

      span {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-color);
      }
    }
  }
}
