$white: hsl(var(--ac));
$sidebar-blue: hsl(var(--p));
$active-bg: hsl(var(--a));
$sidebar-border: hsl(var(--s));
$sidebar-background: hsl(var(--b1));

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 32px 16px;
  border-right: 1px solid #e8eaf6;
  background-color: $sidebar-background;
}

.user {
  display: flex;
  margin-bottom: 24px;

  img {
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-width: 48px;
  }

  .userInfo {
    margin-left: 10px;
    .userName {
      color: $active-bg;
      font-weight: 500;
    }

    .userEmail {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.navBody {
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
}

.itemsList li,
.footerItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 12px;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;

  &.active,
  &:hover {
    background-color: $active-bg;
    span {
      color: $white;
    }
    .icon {
      color: $white;
    }
  }

  .icon {
    width: 16px;
    height: auto;
    color: $white;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    color: $white;
  }
}

.navFooter ul {
  border-bottom: 1px solid $white;
}

@media only screen and (max-width: theme('screens.md')) {
  .nav {
    width: 72px;
    padding: 16px;

    .user {
      img {
        width: 39px;
        height: 39px;
        min-width: unset;
      }
    }
  }
}

@media only screen and (min-width: theme('screens.lg')) {
  .nav {
    width: 250px;
  }
}
