@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
}

*:focus {
  outline: none !important;
}

html,
body {
  width: 100%;
  height: 100%;

  display: flex;
}

#__next {
  width: 100%;
  height: 100%;
}
